<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/studentLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="content">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">个人信息</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <!--<h1>Blank</h1>-->
                <!--<p>欢</p>-->
                <!--<img src="../../static/img/11.jpg" alt="12"/>-->
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-body">
                    <!--<input type="hidden" id="id" th:value="${ != null ? teacher.id : null}"/>-->
                    <div class="form-group">
                        <label for="oldPwd">原密码</label>
                        <input class="form-control" id="oldPwd" type="password">
                    </div>
                    <div class="form-group">
                        <label for="newPwd">新密码</label>
                        <input class="form-control" id="newPwd" type="password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPwd">确认密码</label>
                        <input class="form-control" id="confirmPwd" type="password">
                    </div>
                    <button id="submit" class="btn btn-primary btn-block" onclick="submit()">修改</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function submit() {
            //alert($("#id").val() + "," + $("#name").val());
            var oldPwd = $("#oldPwd").val();
            var newPwd = $("#newPwd").val();
            var confirmPwd = $("#confirmPwd").val();
            if (newPwd !== confirmPwd) {
                alert("两次密码输入不一致！");
                $("#newPwd").val("");
                $("#confirmPwd").val("");
                return;
            }
            $.ajax({
                url: "/student/password/update",
                data: {
                    oldPwd: oldPwd,
                    newPwd: newPwd
                },
                async: false,
                contentType:"application/x-www-form-urlencoded:charset=UTF-8",
                success: function (res) {
                    if (res !== "success") {
                        alert(res);
                    } else {
                        alert("修改成功");
                        window.location.href="/student/index";
                    }
                }
            })
        }
    </script>
</div>
</body>
</html>