<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content-wrapper" th:fragment="content">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin/course">课程</a>
            </li>
            <li class="breadcrumb-item active" th:text="${type}"></li>
        </ol>
        <div>
            <div class="container">
                <div class="card card-login mx-auto mt-5">
                    <div class="card-header">课程信息</div>
                    <div class="card-body">
                        <input type="hidden" id="id" th:value="${course != null ? course.id : null}"/>
                        <div class="form-group">
                            <label for="name">课程名</label>
                            <input class="form-control" id="name" name="name" type="text" th:value="${course != null ? course.name : null}">
                        </div>
                        <div class="form-group">
                            <label for="name">学分</label>
                            <input class="form-control" id="credit" name="credit" type="text" th:value="${course != null ? course.credit : null}">
                        </div>
                        <button id="submit" class="btn btn-primary btn-block" onclick="submit()" th:text="${type}"></button>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            function submit() {
                //alert($("#id").val() + "," + $("#name").val());
                var id = $("#id").val();
                var name = $("#name").val();
                var credit = $("#credit").val();
                $.ajax({
                    url: "/admin/course/add",
                    data: {
                        id: id,
                        name:name,
                        credit: credit
                    },
                    async: false,
                    contentType:"application/x-www-form-urlencoded:charset=UTF-8",
                    success: function (res) {
                        alert("success");
                        window.location.href="/admin/course";
                    }
                })
            }
        </script>
    </div>
</div>
</body>
</html>