<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content-wrapper" th:fragment="content">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">学生</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <!--<div class="card-header">-->
                <!--<i class="fa fa-table"></i> Data Table Example</div>-->
            <div class="card-body">
                <div class="table-responsive">
                    <a class="btn btn-primary btn-sm" href="/admin/student/detail">新增</a>
                    <div>
                        <label>专业: </label>
                        <select id="midSelect">
                            <option value="" selected>请选择</option>
                            <option th:each="major : ${majorList}" th:text="${major.getFullName()}" th:value="${major.id}" th:selected="${mid == major.id}"></option>
                        </select>
                    </div>
                    <div>
                        <label>课程: </label>
                        <select id="cidSelect">
                            <option value="" selected>请选择</option>
                            <option th:each="course : ${courseList}" th:text="${course.getFullName()}" th:value="${course.id}" th:selected="${cid == course.id}"></option>
                        </select>
                    </div>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>专业</th>
                            <th>选课数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${studentList}">
                            <th><a th:href="'/admin/student/detail?id=' + ${student.id}" th:text="${student.id}"></a></th>
                            <th th:text="${student.name}"></th>
                            <th th:text="${student.major != null ? student.major.getFullName() : null}"></th>
                            <th><a th:href="'/admin/student/course?id=' + ${student.id}" th:text="${student.scList.size()}"></a></th>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/js/jquery.min.js" ></script>
    <script type="text/javascript">
        function selectChange() {
            var mid = $("#midSelect").val();
            var cid = $("#cidSelect").val();
            window.location.href = "/admin/student?mid=" + mid + "&cid=" + cid;
        }

        $(document).ready(function() {
            console.log("document");

            $("#midSelect").change(selectChange);
            $("#cidSelect").change(selectChange);
        })
    </script>

</div>
</body>
</html>