<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content-wrapper" th:fragment="content">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin/teacher">辅导员</a>
            </li>
            <li class="breadcrumb-item active" th:text="${type}"></li>
        </ol>
        <div>
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">教师信息</div>
                <div class="card-body">
                    <input type="hidden" id="id" th:value="${teacher != null ? teacher.id : null}"/>
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input class="form-control" id="name" name="name" type="text" th:value="${teacher != null ? teacher.name : null}">
                    </div>
                    <button id="submit" class="btn btn-primary btn-block" onclick="submit()" th:text="${type}"></button>
                </div>
                </div>
            </div>
        </div>

        <!--&lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
        <!--<script src="../../static/vendor/jquery/jquery.min.js"></script>-->
        <!--<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
        <!--&lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
        <!--<script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>-->
        <!--</div>-->
        <script>
            function submit() {
                //alert($("#id").val() + "," + $("#name").val());
                var name = $("#name").val();
                $.ajax({
                    url: "/admin/teacher/add",
                    data: {
                        id: $("#id").val(),
                        name:name
                    },
                    async: false,
                    contentType:"application/x-www-form-urlencoded:charset=UTF-8",
                    success: function (res) {
                        if (res === "fail") {
                            alert("失败，教工号已存在");
                        } else {
                            alert("success");
                            window.location.href="/admin/teacher";
                        }
                    }
                })
            }
        </script>
    </div>
</div>
</body>
</html>